.container {
    // background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.wrapper {
    width: calc(100% - 400px);
    background-color: #FFFFFF;
}

.panel {
    width: 400px;
    padding-top: 90px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 5;
    justify-content: start;
}